---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于我"
	description="不断学习，不断进步"
	pubDate={new Date('2025-12-30')}
	heroImage={AboutHeroImage}
>
	<p>
		主要是记录项目中学习的内容，以及一些生活上的感悟。还有不断学习，不断进步。
	</p>
	<p>
		博客内容会持续更新，欢迎关注。
	</p>
</Layout>
